.info-text {
  width: fit-content;
  text-align: center;
  color: #f38cd9;
  font-size: 20px;
}

.info-outer {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  background-color: #2c2349;
}

.info-res{
  width: fit-content;
  text-align: left;
  color: #f38cd9;
  font-size: 20px;
}