<div class="info-outer">
  <p class="info-text">Climate: {{ infoPlanet?.climate }}</p>
  <p class="info-text">Orbital period: {{ infoPlanet?.orbital_period }}</p>
  <p class="info-text">Diameter: {{ infoPlanet?.diameter }}</p>
  <p class="info-text">Gravity: {{ infoPlanet?.gravity }}</p>
  <p class="info-text">Terrain: {{ infoPlanet?.terrain }}</p>
  <p class="info-text">Surface water: {{ infoPlanet?.surface_water }}</p>
  <p class="info-text">Population: {{ infoPlanet?.population }}</p>
  <div class="info-radio">
    <input type="radio" name="gender" (change)="setGender('male')" />
    <label class="info-text">Male</label>
    <input type="radio" name="gender" (change)="setGender('female')" />
    <label class="info-text">Female</label>
    <input type="radio" name="gender" (change)="setGender('all')" checked />
    <label class="info-text">All</label>
  </div>
  <div class="info-res">
    Residents:
    <p class="info-text" *ngFor="let resident of filterResidents">{{ resident.name }}</p>
    <div></div>
  </div>
</div>
