.info-text {
  width: fit-content;
  margin-left: 1rem;
  text-align: left;
  color: #f38cd9;
  font-size: 20px;
  text-shadow: -3px 2px 3px rgba(163, 41, 195, 0.78);
  user-select: none;
}

.char-res {
  width: fit-content;
  margin-left: 1rem;
  text-align: left;
  color: #f38cd9;
  font-size: 20px;
  text-shadow: -3px 2px 3px rgba(163, 41, 195, 0.78);
  user-select: none;
}
.char-res:hover {
  color: #a7478f;
  font-size: 20px;
  text-shadow: -3px 2px 3px rgba(108, 18, 131, 0.78);
}
.info-outer {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 1rem;
  background-color: #2c2349;
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 0px 0px 25px 7px rgba(187, 176, 187, 0.19);
  -moz-box-shadow: 0px 0px 25px 7px rgba(187, 176, 187, 0.19);
  box-shadow: 0px 0px 25px 7px rgba(187, 176, 187, 0.19);
}

.info-res {
  width: fit-content;
  text-align: left;
  margin-left: 1rem;
  color: #f38cd9;
  text-shadow: -3px 2px 3px rgba(163, 41, 195, 0.78);
  font-size: 20px;
}

.info-radio {
  display: flex;
  align-items: left;
  align-content: center;
  width: fit-content;
  justify-content: left;
  flex-direction: row;
  text-align: left;
  margin-left: 1rem;
}

.back-btn {
  background-color: #f16ad0;
  border: none;
  width: fit-content;
  border-radius: 45% 20%;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-shadow: -3px 2px 3px rgb(163 41 195 / 78%);
  font-size: 16px;
}

.back-btn:hover {
  background-color: #f050c8;
}

.loader,
.loader:before,
.loader:after {
  background: #e8e3e3;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #e8e3e3;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  transform: translate(-50%, -50%);
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
