.carousel-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  background: #2e2f45;
  text-shadow: -3px 2px 3px rgba(53, 2, 66, 0.78);
  color: #c51098;
  font-size: 40px;
  user-select: none;
}
.carousel-text:hover {
  color: #a70c80;
  background: #717279;
  cursor: pointer;
}
.carousel-btn {
  background-color: #f142c6;
  border: none;
  width: fit-content;
  border-radius: 30%;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-shadow: -3px 2px 3px rgba(85, 83, 85, 0.78);
  font-size: 16px;
}

.carousel-btn:hover {
  background-color: rgb(180, 66, 152);
  cursor: pointer;
}

.carousel-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.carousel-outer {
  width: 50%;
  margin: auto;
}
.planet-slide {
  filter: blur(0.2rem);
  width: 50%;
}
.carousel-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
