.res-outer {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 1rem;
  background-color: #2c2349;
  text-align: center;
  color: #f38cd9;
  font-size: 20px;
  text-shadow: -3px 2px 3px rgba(163, 41, 195, 0.78);
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 0px 0px 25px 7px rgba(187, 176, 187, 0.19);
  -moz-box-shadow: 0px 0px 25px 7px rgba(187, 176, 187, 0.19);
  box-shadow: 0px 0px 25px 7px rgba(187, 176, 187, 0.19);
}

.back-btn {
  background-color: #f16ad0;
  border: none;
  width: fit-content;
  border-radius: 45% 20%;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-shadow: -3px 2px 3px rgb(163 41 195 / 78%);
  font-size: 16px;
}

.back-btn:hover {
  background-color: #f050c8;
}
